{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "prefer-template": "off"
  },
  "settings": {
    "react": {
      "pragma": "h",
      "version": "v18.2.0"
    }
  }
}
